body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

section .counter{
  text-align: center;
  font-size: 5rem;
  margin: 4rem 0;
}

.basicButtons{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.basicButtons button{
  padding: 10px 20px;
  font-size: 2rem;
  outline: none;
  background-color: lightseagreen;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.reset{
  background-color: salmon !important;
}